body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.01);
}

.slides-navigation{
    z-index: 6;
}

.slides-navigation .prev, 
.slides-navigation .next
 
{
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    
}




  .titleMessage{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      z-index: 20;
      text-align: center;
      margin-top: -125px;
  }

  .titleMessage .heading p{
      color: rgb(236, 227, 227);
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
      font-weight: 100;
      letter-spacing: 7px;
      text-shadow: 5px 5px 10px;
      

  }

  .titleMessage .heading .main{
      font-size: 50px;
  }

  .titleMessage .heading .sub{
    font-size: 30px;
}

.section{
    padding: 80px 0;
}

.about{
    max-width: 100%;
}

.skillssection,
.contactSection
{
  background-color: brown;  
  color: white;

}

.skill{
    text-align: center;
    margin-left: 25px;
}
.chart{
    text-align: center;
    width: 153px;
    height: 153px;
    display: inline-block;
    position: relative;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: black;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}
.chart .percent:after{
    content:'%';
}

.squareItem{
    margin-top: 30px;
    position: relative;
    
}

.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 3px solid #444;
    
    
    
}
.squareInnerContainer:before{
    right: 0px;
}

.squareInnerContainer:after{
    left: 0px;
}

.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.squareContent h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    
}
.contactSection
{
  background-color: rgb(107, 181, 194);  
  color: white;
}

.contactButton{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover{
    text-decoration: none;
    background-color: #e74c3c;
}

.filter a{
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li{
    display: inline-block;
    padding: 5px;
}

.filter .current{
    background-color: #e74c3c;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}
.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}
.items li img {
    width: 100%;
    -webkit-transition:  all 0.2s linear, 1s;
    -moz-transition:  all 0.2s linear, 1s;
    -o-transition:  all 0.2s linear, 1s;
    -ms-transition:  all 0.2s linear, 1s;
    -transition:  all 0.2s linear, 1s;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
    
}

.items .icons i{
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
    position: relative;
    display: inline-block;
    -webkit-transition:  all 0.2s linear, 0.5s;
    -moz-transition:  all 0.2s linear, 0.5s;
    -o-transition:  all 0.2s linear, 0.5s;
    -ms-transition:  all 0.2s linear, 0.5s;
    -transition:  all 0.2s linear, 0.5s;
}

.items .imageOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition:  all 0.2s linear, 1s;
    -moz-transition:  all 0.2s linear, 1s;
    -o-transition:  all 0.2s linear, 1s;
    -ms-transition:  all 0.2s linear, 1s;
    -transition:  all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openButton{
    float: left;
    left: -200px;
}

.items .projectLink{
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 0px;
}
.items .item:hover .projectLink{
    right: 0px;
}

.items .item:hover img{
    -webkit-transform:  scale(1.05, 1.05);
    -moz-transition:  scale(1.05, 1.05);
    -o-transition:  scale(1.05, 1.05);
    -ms-transition: scale(1.05, 1.05);
    -transition:  scale(1.05, 1.05);
}

.items{
    padding: 0;
    
}

footer{
    padding: 100px 15px;
    background-color: aquamarine;
}

footer .social-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

footer .social-container a{
    font-size: 3.2rem;
    color: #8e8f91;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding: 10px;
}

footer .social-container a:hover{
    color: rgba(255, 53, 53, 1);
}

footer h4{
    font-size: 1.7rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

footer h5{
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    text-align: center;
}

.footer-section{
    padding: 40px 0;
}

#navigation
{
    background-color: #e74c3c;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
    color: yellowgreen;
}
#navigation li a {
    color: #fff;
    
}

.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background-image: url(/Users/doujones/Desktop/PortfolioOct2018/img/icons8-menu-64.png);
    background-size: 100%;
}

#navigation{
    position: fixed;
    top: 0;
    
}

.resume-container{
    text-align: center;
    bottom: -10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

p{
    font-size: 35px;
}

.icon3{
    color: purple;
}

.icon2 a img{
    color: red;
}

